<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a  mat-list-item routerLink="/books" routerLinkActive="active">Books</a>
      <a  mat-list-item [routerLink]="['/temperature',10,'London']" routerLinkActive="active">Temperature</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{title}}</span>
      <span class = "spacer"></span>
      <a class = "whitelink" mat-list-item routerLink='/signup'   *ngIf = "!(auth.user | async)?.uid" >Register</a>
      <a class = "whitelink" mat-list-item routerLink='/login' *ngIf = "!(auth.user | async)?.uid">Login</a>
      <a class = "whitelink" mat-list-item *ngIf = "(auth.user | async)?.uid" (click) = "auth.logOut()" >Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
