<h2>Temperature Form</h2>

<mat-card>
<form #tempForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="example-container">
                <mat-form-field>
                <input matInput placeholder="Temperature" [(ngModel)] = "temper"
                                           name = "temper"
                                           required #spy
                                           #temp = "ngModel">
                          <mat-error *ngIf="!(temp.valid || temp.pristine)">
                            Temperature is required
                          </mat-error>                        
                </mat-form-field>
            
                <mat-form-field>
                <mat-select placeholder="City" [(ngModel)] = "city" name = "city" >
                    <mat-option [value]="city.name" *ngFor = "let city of cities">{{city.name}}</mat-option>
    
                </mat-select>
                </mat-form-field>
            </div>
            <div class="example-button-row">
            <button mat-flat-button color="primary" [disabled]="!tempForm.form.valid" >Primary</button>
            </div>
        </form>
</mat-card>