<mat-card>
  <span class = "spacer"></span>
<button mat-raised-button  class = "buttonright" color="primary" routerLink="/bookform" >Add New Book</button>

 <mat-accordion>
  <p *ngIf = "!(books$ | async)"> Loading..</p>
  <br><br>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false" *ngFor =  "let book of books$ | async">
      <mat-expansion-panel-header >
        <mat-panel-title>
         {{book.title}}
        </mat-panel-title>
        <mat-panel-description>
          <!-- urrently I am {{panelOpenState ? 'open' : 'closed'}} -->
        </mat-panel-description>
        <button mat-button color="primary" [routerLink]="'/bookform/'+book.id" >Edit</button>
        <button mat-button color="warn" (click)=deleteBook(book.id) >Delete</button>
      </mat-expansion-panel-header>
      <p> by {{book.author}}</p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>