
    <h3 color="primary">{{pagetitle}}</h3>
<mat-card>
    <form #bookForm="ngForm" (ngSubmit)="onSubmit()">
      <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="Book Name" [(ngModel)] = "title"
                           name = "title"
                           required #spy
                           #book = "ngModel">
          <mat-error *ngIf="!(book.valid || book.pristine)">
            Book name is required
          </mat-error>                        
        </mat-form-field>
        <br>
        <mat-form-field>
            <input matInput placeholder="Author Name" [(ngModel)] = "author"
                             name = "author"
                             required #spy
                             #temp = "ngModel">
            <mat-error *ngIf="!(temp.valid || temp.pristine)">
                Author name is required
            </mat-error>                        
          </mat-form-field>
    
        
        <div >
            <button mat-raised-button color="primary" [disabled]="!bookForm.form.valid">{{buttontext}} Book</button>
       
          <button mat-button routerLink="/books">Cancel</button>
      </div>
      </div>
    </form>
    </mat-card>