<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <img [src] = "image" alt = "weather icon">
      <p *ngIf = "!hasError"> The temperature in {{city}} is {{temp | number:'1.0-0'}} º </p>
      <p *ngIf = "hasError">{{errorMessage}}</p>
      <p *ngIf = "likes>0">{{likes}} people liked it </p>
    </mat-card-content>
    <mat-card-actions> 
        
      <button mat-button (click)='likeUp()'> LIKE </button>
      <button mat-button>SHARE</button>
      <a  mat-list-item routerLink="/formtemp" routerLinkActive="active">Temperature Form</a>
    </mat-card-actions>
  </mat-card>